<mat-drawer-container class="layout-container">
  <mat-drawer class="sidenav" mode="side" opened>
    <div class="sidenav-content">
      <div>
        <div class="sidenav-header">
          <mat-icon>box</mat-icon>
          <h2>Pedidos</h2>
          <h3>Manager</h3>
        </div>

        <nav class="menu">
          <a
            class="btn"
            mat-button
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>

          <a class="btn" mat-button routerLink="/orders" routerLinkActive="active">
            <mat-icon>shopping_cart</mat-icon>
            Pedidos
          </a>

          <a class="btn" mat-button routerLink="/order-create" routerLinkActive="active">
            <mat-icon>add</mat-icon>
            Criar Pedido
          </a>
        </nav>
      </div>

      <a class="btn logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </a>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
